.stripe-wrapper{
    background-color: var(--redColor);
    padding: 30px 10px;

    .stripe{
        display: flex;
        justify-content: space-between;
        align-self: center;

        .stripe-text{
            font-size: 20px;
            color: var(--blackColor);

            span{
                color: var(--whiteColor);
            }
        }

        .stripe-btn-wrapper{
            display: flex;
            align-items: center;
        }
    }
}