.button{
    outline: none;
    border: none;
    border-radius: 30px;
    width: max-content;
    padding: 13px 40px;
    font-size: 13px;
    cursor: pointer;
    background-color: var(--redColor);
    color: var(--whiteColor);
    margin: auto;

    &:active{
        opacity: 0.8;
    }
}

@media only screen and (max-width: 700px) {
    .button{
        width: 100%;
        border-radius: 7px;
    }
}