.services-hero-section {
    width: 100%;
    position: relative;
    aspect-ratio: 1268/807;

    .servies-hero-mobile{
        display: none;
    }

    .services-section-content {
        padding: 10px;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 50px;

        .mobile-title{
            display: none;
        }

        h1 {
            font-size: 40px;
            color: var(--blackColor);

            span {
                color: var(--redColor);
            }
        }

        .section-description {
            max-width: 400px;
            color: var(--blackColor);
        }

        .services-hero-btn-wrapper {
            width: min-content;
        }
    }
}

.why-choose-section {
    background-color: var(--whiteGrayColor);

    .why-choose-section-wrapper {
        padding: 100px 10px;

        .why-choose-wype-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .why-choose-img-wrapper {
                width: 35%;
                position: relative;
                aspect-ratio: 402/473;
            }

            .why-choose-wype-content {
                width: 60%;

                h2 {
                    font-size: 28px;
                    color: var(--blackColor);
                    margin-bottom: 20px;

                    span {
                        color: var(--redColor);
                    }

                }

                .why-choose-wype-description {
                    color: var(--grayColor);

                    p {
                        margin-bottom: 20px;
                    }
                }
            }
        }

        .why-choose-feature-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
            margin-top: 70px;

            .why-choose-feature-item {
                max-width: 250px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                row-gap: 10px;

                .seat-icon-wrapper {
                    margin: auto;
                    background-color: #FFCDCD;
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                    display: grid;
                    place-content: center;
                }

                .item-description {

                    font-size: 13px;
                    color: var(--grayColor);
                }
            }
        }
    }
}

.services-list-section {
    .service-section-wrapper {
        padding: 50px 10px;

        .services-section-content-wrapper {

            .section-title {
                text-align: center;
                font-size: 28px;
                color: var(--blackColor);

                span {
                    color: var(--redColor);
                }
            }
        }

        .services-list-flex {
            margin-top: 40px;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            column-gap: 5%;
            row-gap: 50px;

            .service-item-card {
                aspect-ratio: auto 347 / 392;
                width: 30%;
                position: relative;
            }
        }

    }
}

@media only screen and (max-width: 700px) {
    .services-hero-section{
        min-height: 600px;
        height: 100vh;
        position: relative;

        .services-section-content{
            text-align: center;
            row-gap: 20px;

            .mobile-title{
                color: var(--whiteColor);
                text-transform: uppercase;
                font-size: 13px;
                display: block;
            }

            h1{
                color: var(--whiteColor);
                font-size: 24px;
            }

            .section-description{
                display: none;
            }

            .services-hero-btn-wrapper{
                position: absolute;
                width: 80%;
                left: 50%;
                transform: translateX(-50%);
                bottom: 40px;
            }
           
        }

        .servies-hero-mobile{
            filter: brightness(.4);
            display: block;
            object-fit: cover;
        }

        .services-hero-desktop{
            display: none;
        }
    }

    .why-choose-section{
        .why-choose-section-wrapper{
            padding: 0px;
            .why-choose-wype-flex{
                padding: 30px 0px;
                flex-direction: column-reverse;

                .why-choose-wype-content{
                    width: 100%;
                    text-align: center;
                    padding: 0px 20px;

                    h2{
                        font-size: 24px;
                    }

                    .why-choose-wype-description{
                        text-align: left;
                        font-size: 13px;
                        margin-bottom: 30px;
                    }
                }
                .why-choose-img-wrapper{
                    width: 100%;
                }
            }
            .why-choose-feature-flex{
                margin-top: 30px;
                flex-direction: column;
                padding-bottom: 30px;
                row-gap: 30px;

                .why-choose-feature-item{

                    .item-title{
                        font-size: 15px;
                    }

                    .item-description{
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .services-list-section{
        .service-section-wrapper{
            padding: 30px 20px;
            .services-section-content-wrapper{
                .section-title{
                    font-size: 24px;
                }
            }
            .services-list-flex{
                .service-item-card{
                    width: 47%;
                }
            }
        }
    }
}